@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.content{
    font-family: "Dancing Script", cursive;
    font-weight: bold;
}

.x{
height: 100%;
/* position: fixed;
top: 10vh; */
display: flex;
justify-content: center;
}
body{
    display: flex;
    justify-content: center;
}
.cont{
    /* margin-top: 20%; */
    position: absolute;
    top: 10%;
    margin:1vw;
    box-shadow: rgb(48, 66, 254) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: 2px solid #006bff ;
    border-radius: 10px;
    
}
.up{
    background-color: #006bff;
    height: 30%;
    padding: 1vw;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.low{
    background-color: rgb(255, 255, 255);
    padding: 5vw;
    border-radius:  0px 0px 8px 8px;
    font-style: oblique;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btn{
    display: flex;
    justify-content: center;
    height: 10%;
    margin-top: 7vh;
   
}
.btnt{
    background-color: #006bff;
    color: antiquewhite;
    border-radius: 10px;
    padding: 2vh;
    border: 2px solid #006bff;;
}
img{
    height: 10vh;
    position: relative;
    /* left: 6vw; */
    top: 3vh;
}